[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
numpy = "*"
tqdm = "*"
matplotlib = "*"
pandas = "*"
h5py = "*"
scipy = "*"

[requires]
python_version = "3.8"
